html {
    color: #323336;
}

body{
    
    border: 5px solid green;
    text-align: center;
    margin: auto;
    width: 700px;
    padding: 0;

}

/* HEADER */

header {
    border: 1px solid red;
    height: 100px;
    margin: auto;
    padding: 0;
}

h1 {
    font-family: 'Cabin', sans-serif;
    font-size: 50px;
	text-align: center;
    border: 1px solid yellow;
    margin: 20px 175px 0px 175px;
    color: black;
}

#image {
    height: 100px;
    width: 100px;
    float: left;
    border-radius: 150px;
    background-image: url(http://i.imgur.com/OGlFO5n.jpg);
    background-repeat: no-repeat;
    background-position: center center;   
}

/* DIV 1 */

p{
    text-align: left;
    word-spacing: 1px;
    margin: 0 auto;
    height: 100px;
    width: 350px;
    color: #DDDDDD;
    font-family: 'Cabin', sans-serif;
}

ul {
    padding-left: 20px;
    list-style-type: none;
}

li {
    padding-left: 7px;
    font-family: 'Cabin', sans-serif;
}



a {
    text-decoration: none;
    color: #DDDDDD;
}

a:hover{
    color:#000;
}