/* HTML */

html {
    color: #323336;
}

body {
    text-align: center;
    margin: auto;
    width: 700px;
    padding: 0;
}

/* HEADER */

header {
    height: 100px;
    margin: auto;
    padding: 0;
}

h1 {
    font-family: 'Cabin', sans-serif;
    font-size: 50px;
	text-align: center;
    margin: 0px 175px 0px 175px;
    padding-top: 18px;
    margin-top: 50px;
    color: black;
}

#image {
    height: 100px;
    width: 100px;
    float: left;
    border-radius: 150px;
    background-image: url(http://i.imgur.com/OGlFO5n.jpg);
    background-repeat: no-repeat;
    background-position: center center;   
}

/* BODY */

div { 
    text-align: justify;
    word-spacing: .5px;
    margin: 0 auto;
    height: 150px;
    width: 350px;
    color: #96999b;
    font-family: 'Cabin', sans-serif;
    line-height: 25px;
}

/* LINKS */

table {
    margin: auto;
}

td {
    margin: auto;
    text-align: left;
    font-family: 'Cabin', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

a:active {
    color: #0692f0
}

.cell {
    padding: 0px 12px 0px 12px;
}

.table {
    border-spacing: 5px;
}

.project {
    line-height: 10px;
}

